* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* green - rgba(157, 186, 148) */
/* blue - rgba(84, 115, 142) */


p {}

h1 {
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}   

h3 {}


body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width:769px) {
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../images/fenner/fenner-house-6.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    display: block !important;
}
}

@media (max-width:768px) {
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../images/churchill/churchill-house-21.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100dvh;
        display: block !important;
    }
    }

  /*header*/
header {
    background-color: rgba(84, 115, 142, 0.75);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    height: 8em;
    width: 100%;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
    height: 8em;
}

.title {
    text-decoration: none;
    color: black;
    margin-left: 0em;
    padding-left: 2em;
}

.title:hover {
    background-color: rgb(157, 186, 148, 0.25);
    margin-left: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
}

header nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

header nav li {
    margin-right: 1em;
}

header nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    padding: 2em 1em;
}

header nav a:hover {
    background-color: rgba(157, 186, 148, 0.25);
    border-radius: 2em;
    padding: 2em 1em; 
}

header .sidebar {
    position: fixed;
    top: 0;
    margin-left: 0;
    height: 100vh;
    width: 250px;
    z-index: 998;
    background-color: rgba(84, 115, 142, 0.5);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

header .sidebar li {
    z-index: 999;
    width: 100%;
    text-align: center;
    padding: 2em;
    text-decoration: none;
}

header .sidebar a {
    width: 100%;
    text-decoration: none;
}
header .sidebar a:hover {
    width: 100%;
    padding: 2em;
    left: 0;
}
header .menu-button {
    display: none;
}
header .cancel-menu {
    align-items: right;
    margin-right: auto;
}

@media (min-width: 1440px) {

    header .menu-button {
        display: none;
    }
    h1 {
        font-size: 3rem; 
    }
    h2 {
    font-size: 2rem;
}   
}

@media (min-width: 1024px) {
    header .menu-button {
        display: none;
    }
    h1 {
        font-size: 2.5rem;
    }

    h2 {
    font-size: 1.5rem;
}   

header nav li {
    margin-right: 1em;
}

header nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    padding: 2em 1em;
}

}

@media (max-width: 1023px) {
    .hideOnMobile {
        display: none;
    }

    header .menu-button {
        display: block;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
    font-size: 2rem;
    
    }

    .header{
        background-color: rgba(84, 115, 142, 0.75);
        box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
        height: 8em;
        width: 100%;
        margin: 0;
    }

    header .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;  
        height: 8em;
    }
    
    
    .title {
        text-decoration: none;
        color: black;
        margin-left: 0.5em;
        padding-left: 1em;
        
    }
    .title:hover {
        background-color: rgb(157, 186, 148, 0.25);
        border-radius: 1em;
    }
    
    header nav li {
        margin-right: 1em;
    }
    
    header nav a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        padding: 2em 2em;
    }
    
    header nav a:hover {
        background-color: rgba(157, 186, 148, 0.25);
        border-radius: 2em;
        padding: 2em 2em;
    }

    header .sidebar {
        width: 100%;
    }

    header .sidebar li {
        width: 100%;
        padding: 2em;
    }  
    header .sidebar li:hover {
        width: 100%;
        padding: 2em;
        background-color: rgba(157, 186, 148, 0.25);
    }  
}   

@media (max-width: 425px) {
    .hideOnMobile {
        display: none;
    }

    header .sidebar {
        width: 100%;
    }

    header .sidebar li {
        width: 100%;
        padding: 2em 0 2em 0;
        }
        

    header .menu-button {
        display: block;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
    font-size: 2rem;
    } 

    .header{
        background-color: rgba(84, 115, 142, 0.75);
        box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
        height: 8em;
        width: 100%;
        margin: 0;

    }
    .title {
        text-decoration: none;
        color: black;
        margin-left: 0.5em;
        padding-left: 1em;
        
    }
    .title:hover {
        display: none;
        background-color: rgb(157, 186, 148, 0.25);
        margin-left: 2em;
        padding: 1em;
        border-radius: 1em;
    }

    header nav li {
        margin-right: 1em;
    }
    
    header nav a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        padding: 1em 1em;
    }
    
    header nav a:hover {
        background-color: rgba(157, 186, 148, 0.25);
        border-radius: 1em;
        padding: 1em 1em;
    }

    header .sidebar li:hover {
        width: 100%;
        padding: 2em;
        background-color: rgba(157, 186, 148, 0.25);
    }  
}


/*homepage*/
.main-homepage .wrapper {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.main-homepage {
    min-height: 100vh;
    max-width: 100%;
}
  .learn-more {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1em 1.5em;
    background-color: rgba(157, 186, 148, 0.9);
    color: black;
    border: none;
    border-radius: 1em;
    
  }
  
  .learn-more:hover {
    background-color: rgba(84, 115, 142, 0.9);
    cursor: pointer;
  }

  @media (max-width: 1023px) {
    .learn-more {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1em 1.5em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1.5em;
        transition:
      }
      
      
      .learn-more:hover {
        background-color: rgba(84, 115, 142, 0.9);
        cursor: pointer;
      }
  }

  
/*about us*/
.page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 4em;
    padding-bottom: 0;
}

.main-about {
    min-height: 110vh;
    max-width: 100%;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2em;
  }
  
  .about-image {
    min-width: 50vw;
    height:100%
  }
  
  .about-content {
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
  }

  .about-text {
    padding-bottom: 1em;
    font-size: 1.6rem;
  }

.about-source {
    font-size: 2rem;
    padding-right: 1rem;
    color: grey;
}
    
 @media (max-width: 1440px) {
    .page-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 4em;
        padding-bottom: 0;
    }
    
    .main-about {
        min-height: 100vh;
        max-width: 100%;
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .about-image {
        min-width: 50vw;
        height:100%
      }
      
      .about-content {
        padding-left: 2em;
        padding-right: 2em;
        text-align: left;
      }
    
      .about-text {
        font-size: 1.2rem;
        padding-bottom: 1em;
      }
    
    .about-source {
        font-size: 1rem;
        padding-right: 1rem;
        color: grey;
    }
}
 @media (min-width: 1201px) {

    .page-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 4em;
        padding-bottom: 0;
    }
    
    .main-about {
        min-height: 75vh;
        max-width: 100%;
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
      
      .about-image {
        max-width: 50%;
        height:100%;
      }
      
      .about-content {
        padding-left: 2em;
        padding-right: 2em;
        text-align: left;
      }
    
      .about-text {
        font-size: 1.1rem;
        padding-bottom: 1em;
      }
    
    .about-source {
        font-size: 0.75rem;
        padding-right: 1rem;
        color: grey;
    }
 }
 @media (max-width: 1200px) {

    .page-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 4em;
        padding-bottom: 0;
    }
    
    .main-about {
        min-height: 75vh;
        max-width: 100%;
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
      
      .about-image {
        max-width: 50%;
        height:100%;
      }
      
      .about-content {
        padding-left: 2em;
        padding-right: 2em;
        text-align: left;
      }
    
      .about-text {
        font-size: 1.1rem;
        padding-bottom: 1em;
        margin-top: 0.5em;
      }
    
    .about-source {
        font-size: 0.75rem;
        padding-right: 1rem;
        color: grey;
    }
 }
 @media (min-width: 1024px) {

    .page-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 4em;
        padding-bottom: 0;
    }
    
    .main-about {
        max-height: 100vh;
        max-width: 100%;
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      
      }
      
      .about-image {
        max-width: 50%;
        height:100%;
      }
      
      .about-content {
        padding-left: 2em;
        padding-right: 2em;
        text-align: left;
      }
    
      .about-text {
        margin-top: 1em;
        font-size: 1rem;
        padding-bottom: 0.25em;
      }
    
    .about-source {
        font-size: 0.65rem;
        padding-right: 1rem;
        color: grey;
    }
 }

 @media (max-width: 1023px) {

    .page-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 4em;
        padding-bottom: 0;
    }
    
    .main-about {
        max-height: 150vh;
        max-width: 100%;
    }
    .about-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      
      .about-image {
        max-width: 100%;
        height:100%;
        padding: 0 2em 0 2em;      
    }
      
      .about-content {
        padding-left: 3em;
        padding-right: 3em;
        text-align: left;
      }
    
      .about-text {
        margin-top: 1em;
        font-size: 1rem;
        padding-bottom: 0.25em;
      }
    
    .about-source {
        font-size: 0.65rem;
        padding-right: 1rem;
        color: grey;
    }
 } 

 @media (max-width: 768px) {

    .page-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 4em;
        padding-bottom: 0;
    }
    
    .main-about {
        max-height: 150vh;
        max-width: 100%;
    }
    .about-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      
      .about-image {
        max-width: 100%;
        height:100%;
        padding: 0 2em 0 2em;      
    }
      
      .about-content {
        padding-left: 3em;
        padding-right: 3em;
        text-align: left;
      }
    
      .about-text {
        margin-top: 1em;
        font-size: 1rem;
        padding-bottom: 0.25em;
      }
    
    .about-source {
        font-size: 0.65rem;
        padding-right: 1rem;
        color: grey;
    }
 }
            
 @media (max-width: 425px) {

    .page-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 4em;
        padding-bottom: 0;
    }
    
    .main-about {
        min-height: 100vh;
        max-width: 100%;
    }
    .about-container {
        display: flex;
        flex-wrap: wrap;
      }
      
      .about-image {
        align-items: center;
        max-width: 100%;
        height:100%;
      }
      
      .about-content {
        padding-left: 3em;
        padding-right: 3em;
        text-align: left;
      }
    
      .about-text {
        margin-top: 1em;
        font-size: 1rem;
        padding-bottom: 0.25em;
      }
    
    .about-source {
        font-size: 0.65rem;
        padding-right: 1rem;
        color: grey;
    }
 }

/*buildings*/
 .page-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2em;
    padding-bottom: 0;
}

@media (min-width: 1441px) {

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;

}

.card {
    width: 600px;
    height: 70vh;
    position: relative;
    display:flex;
    padding: 4em;
    margin-bottom: 2em;
    flex-direction: column;
    align-items: center;  
    background-color: whitesmoke;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card .card-image {
    height: 500px;
    width: 500px;
    border-radius: 2em;
    background-position: center;
    background-size: cover;

}

.card .card-title {
    text-align: center;
    padding: 20px 10px;
    font-size: 1rem;
    color: black
}

.card .card-text {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1em;
}


.more-btn {
    margin-top: 2em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.75em 1em;
    background-color: rgba(157, 186, 148, 0.9);
    color: black;
    border: none;
    border-radius: 1em;
}
         
.more-btn:hover {
     background-color: rgba(84, 115, 142, 0.9);
     cursor: pointer;
}
}    

.card:nth-child(1) .card-image {
    background-image: url(../../images/fenner/fenner-house-6.JPG)
}

.card:nth-child(2) .card-image {
    background-image: url(../../images/churchill/churchill-house-21.jpg)
}

.card:nth-child(3) .card-image {
    background-image: url(../../images/manning-clark/manning-clark-3-anthiny-basheer.jpg)
}

 @media (max-width: 1920px) {

.page-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2em;
    padding-bottom: 0;

}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.card {
    width: 425px;
    height: 70vh;
    position: relative;
    display:flex;
    padding: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    align-items: center;  
    background-color: whitesmoke;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card .card-image {
    height: 300px;
    width: 350px;
    border-radius: 2em;
    background-position: center;
    background-size: cover;

}

.card .card-title {
    text-align: center;
    padding-top: 1em;
    font-size: 1rem;
    color: black
}

.card-text{
    width: 300px;
    height: 120px;
}
.card .card-text p {
    font-size: 1rem;
    text-align: center;
    
}

.more-btn {
    margin-top: 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.75em 1em;
    background-color: rgba(157, 186, 148, 0.9);
    color: black;
    border: none;
    border-radius: 1em;
}
         
.more-btn:hover {
     background-color: rgba(84, 115, 142, 0.9);
     cursor: pointer;
}
}    

@media (max-width: 1024px) {

    .page-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 2em;
        padding-bottom: 0;
    
    }
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    
    }
    
    .card {
        width: 300px;
        height: 70vh;
        position: relative;
        display:flex;
        padding: 1.5em;
        margin-bottom: 2em;
        flex-direction: column;
        align-items: center;  
        background-color: whitesmoke;
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .card .card-image {
        height: 250px;
        width: 250px;
        border-radius: 2em;
        background-position: center;
        background-size: cover;
    
    }
    
    .card .card-title {
        text-align: center;
        padding: 0.2em;
        font-size: 1rem;
        color: black
    }
    
    .card-text{
        width: 250px;
        height: 150px;
    }
    .card .card-text p {
        font-size: 1rem;
        text-align: center;
        
    }
    
    .more-btn {
        margin-top: 1em;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.25rem;
        padding: 0.75em 1em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1em;
    }
             
    .more-btn:hover {
         background-color: rgba(84, 115, 142, 0.9);
         cursor: pointer;
    }
}  

@media (max-width: 1023px) {

    .page-heading{
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 1.5em;
        padding-bottom: 0;
    
    }
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        flex-wrap: wrap;
    }
    
    .card {
        width: 300px;
        height: 70vh;
        position: relative;
        display:flex;
        padding: 1.5em;
        margin-bottom: 2em;
        flex-direction: column;
        align-items: center;  
        background-color: whitesmoke;
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .card .card-image {
        height: 250px;
        width: 250px;
        border-radius: 2em;
        background-position: center;
        background-size: cover;
    
    }
    
    .card .card-title {
        text-align: center;
        padding: 20px 10px;
        font-size: 1rem;
        color: black
    }
    
    .card .card-text {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1em;
    }
    
    .more-btn {
        margin-top: 1em;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.25rem;
        padding: 0.75em 1em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1em;
    }
             
    .more-btn:hover {
         background-color: rgba(84, 115, 142, 0.9);
         cursor: pointer;
    }
}  

@media (max-width: 425px) {

    .page-heading{
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 1.5em;
        padding-bottom: 0;
    }
    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 230vh;
    }
    
    .card {
        width: 300px;
        height: 70vh;
        position: relative;
        display:flex;
        padding: 1.5em;
        
        flex-direction: column;
        align-items: center;  
        background-color: whitesmoke;
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .card .card-image {
        height: 250px;
        width: 250px;
        border-radius: 2em;
        background-position: center;
        background-size: cover;
    
    }
    
    .card .card-title {
        text-align: center;
        padding: 20px 10px;
        font-size: 1rem;
        color: black
    }
    
    .card .card-text {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1em;
    }
    
    .more-btn {
        margin-top: 1em;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.25rem;
        padding: 0.75em 1em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1em;
    }
             
    .more-btn:hover {
         background-color: rgba(84, 115, 142, 0.9);
         cursor: pointer;
    }
}  


/*CHURCHILL buildings info */
.main-buildings-info {
       max-width: 100%;
       min-height: 100vh;
       background: white;
       place-items: center;
    }

    .page-heading{
        font-size: 1rem;
    }
    
    .carousel-container {
        width: 100%;
        height: 575px;
        background-color: whitesmoke;
        padding: 2em 0em 2em 0em;
        align-items: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .owl-carousel{
        position: relative;
        align-items: center;
    }
    
    .owl-carousel .owl-nav {
        margin-bottom: -10em; 
    }

    .owl-carousel .item {
        height: 600px;
        width: 100%;
        align-items: center;
    }

    .owl-carousel .item figcaption {
    text-align: center;
    font-size: 1.25rem;
    }

    .owl-carousel .item img{
        height: 80%;
        object-fit:cover;
        border-radius: 2em;
        align-items: center;
    }

    .cp {
        padding-bottom: 1em;
        }

    .cpresource {
        padding-bottom: 1em;
        font-size: 1.25rem;
        color: grey;
        }

    .churchill-text{
        font-size: 2rem;
        padding: 0em 20em 0em 20em;
        text-align: left;
        padding-top: 2em;
    }
    
    .owl-carousel .owl-nav button.owl-next {
        position: relative;
        font-size: 6rem;
        transform: translateY(-75%);
        color: black;
        left: 0.5em;
    }
    
    .owl-carousel .owl-nav button.owl-prev {
        position: relative;
        font-size: 6rem;
        transform: translateY(-75%);
        color: black;
        right: 0.5em;
    }
  
    .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
    
@media (max-width:1920px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 100vh;
        background: white;
        place-items: center;
     }

     .page-heading{
        font-size: 2rem;
        text-decoration: none;
    }

     .carousel-container {
         width: 100%;
         height: 525px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
        align-items: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
     }
     
     .owl-carousel .owl-nav {
         margin-bottom: -9em; 
     }
 
     .owl-carousel .item {
         height: 525px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
     text-align: center;
     font-size: 1rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:cover;
         border-radius: 2em;
         align-items: center;
     }
 
     .cp {
         padding-bottom: 1em;
         }  

    .cpresource {
        padding-bottom: 1em;
        font-size: 1rem;
        }

     .churchill-text{
         font-size: 2rem;
         padding: 0em 15em 0em 15em;
         text-align: left;
         padding-top: 1.5em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 6rem;
         transform: translateY(-64%);
         color: black;
         left: 0.5em;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 6rem;
         transform: translateY(-64%);
         color: black;
         right: 0.5em;
     }
    }

@media (min-width:1441px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 100vh;
        background: white;
        place-items: center;
     }
 
     .page-heading{
         font-size: 0.75rem;
         text-decoration: none;
     }
     
     .carousel-container {
         width: 100%;
         height: 350px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
         align-items: center;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
    }

     .owl-carousel .owl-nav {
         margin-bottom: -8.4em; 
     }
 
     .owl-carousel .item {
         height: 350px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
        text-align: center;
        font-size: 0.9rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:cover;
         border-radius: 2em;
         align-items: center;
     }

     .cp {
        padding-bottom: 1em;
        }
        .cpresource {
            padding-bottom: 1em;
            font-size: 0.9rem;
            }
     .churchill-text{
         font-size: 1.5rem;
         padding: 0em 25em 0em 25em;
         text-align: left;
         padding-top: 2em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         left: 0.6em;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         right: 0.6em;
     }

     .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
}

@media (max-width:1440px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 100vh;
        background: white;
        place-items: center;
     }
 
     .page-heading{
         font-size: 0.75rem;
         text-decoration: none;
     }
     
     .carousel-container {
         width: 100%;
         height: 350px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
         align-items: center;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
    }

     .owl-carousel .owl-nav {
         margin-bottom: -8.4em; 
     }
 
     .owl-carousel .item {
         height: 350px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
        text-align: center;
        font-size: 0.9rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:cover;
         border-radius: 2em;
         align-items: center;
     }

     .cp {
        padding-bottom: 1em;
        }
        .cpresource {
            padding-bottom: 1em;
            font-size: 0.9rem;
            }
     .churchill-text{
         font-size: 1.2rem;
         padding: 0em 20em 0em 20em;
         text-align: left;
         padding-top: 1em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         left: 0.6em;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         right: 0.6em;
     }

     .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
}

@media (min-width:1200px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 100vh;
        background: white;
        place-items: center;
     }
 
     .page-heading{
         font-size: 0.75rem;
         text-decoration: none;
     }
     
     .carousel-container {
         width: 100%;
         height: 350px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
         align-items: center;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
    }

     .owl-carousel .owl-nav {
         margin-bottom: -8.4em; 
     }
 
     .owl-carousel .item {
         height: 350px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
        text-align: center;
        font-size: 0.9rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:cover;
         border-radius: 2em;
         align-items: center;
     }

     .cp {
        padding-bottom: 1em;
        }
        .cpresource {
            padding-bottom: 1em;
            font-size: 0.9rem;
            }
     .churchill-text{
         font-size: 1.2rem;
         padding: 0em 15em 0em 15em;
         text-align: left;
         padding-top: 1em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         left: 0.6em;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         right: 0.6em;
     }

     .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
}

@media (min-width:1024px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 100vh;
        background: white;
        place-items: center;
     }
 
     .page-heading{
         font-size: 0.75rem;
         text-decoration: none;
     }
     
     .carousel-container {
         width: 100%;
         height: 350px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
         align-items: center;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
    }

     .owl-carousel .owl-nav {
         margin-bottom: -8.4em; 
     }
 
     .owl-carousel .item {
         height: 350px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
        text-align: center;
        font-size: 0.9rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:cover;
         border-radius: 2em;
         align-items: center;
     }

     .cp {
        padding-bottom: 1em;
        }
        .cpresource {
            padding-bottom: 1em;
            font-size: 0.9rem;
            }
     .churchill-text{
         font-size: 1.2rem;
         padding: 0em 10em 0em 10em;
         text-align: left;
         padding-top: 1em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         left: 0.6em;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         right: 0.6em;
     }

     .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
}

@media (max-width:1023px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 100vh;
        background: white;
        place-items: center;
     }
 
     .page-heading{
         font-size: 0.5rem;
         text-decoration: none;
     }
     
     .carousel-container {
         width: 100%;
         height: 350px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
         align-items: center;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
    }

     .owl-carousel .owl-nav {
         margin-bottom: -1em; 
     }
 
     .owl-carousel .item {
         height: 350px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
        text-align: center;
        font-size: 0.9rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:cover;
         border-radius: 2em;
         align-items: center;
     }

     .cp {
        padding-bottom: 1em;
        }
        .cpresource {
            padding-bottom: 1em;
            font-size: 0.9rem;
            }
     .churchill-text{
         font-size: 1.2rem;
         padding: 0em 10em 0em 10em;
         text-align: left;
         padding-top: 1em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         left: 0.6em;
         display: none;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         right: 0.6em;
         display: none;
     }

     .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
}

@media (max-width:1000px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 100vh;
        background: white;
        place-items: center;
     }
 
     .page-heading{
         font-size: 0.5rem;
         text-decoration: none;
     }
     
     .carousel-container {
         width: 100%;
         height: 350px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
         align-items: center;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
    }

     .owl-carousel .owl-nav {
         margin-bottom: -1em; 
     }
 
     .owl-carousel .item {
         height: 350px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
        text-align: center;
        font-size: 0.9rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:cover;
         border-radius: 2em;
         align-items: center;
     }

     .cp {
        padding-bottom: 1em;
        }
        .cpresource {
            padding-bottom: 1em;
            font-size: 0.9rem;
            }
     .churchill-text{
         font-size: 1.1em;
         padding: 0em 5em 0em 5em;
         text-align: left;
         padding-top: 1em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         left: 0.6em;
         display: none;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         right: 0.6em;
         display: none;
     }

     .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
}

@media (max-width:625px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 100vh;
        background: white;
        place-items: center;
     }
 
     .page-heading{
         font-size: 0.5rem;
         text-decoration: none;
     }
     
     .carousel-container {
         width: 100%;
         height: 350px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
         align-items: center;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
    }

     .owl-carousel .owl-nav {
         margin-bottom: -1em; 
     }
 
     .owl-carousel .item {
         height: 350px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
        text-align: center;
        font-size: 0.9rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:cover;
         border-radius: 2em;
         align-items: center;
     }

     .cp {
        padding-bottom: 1em;
        }
        .cpresource {
            padding-bottom: 1em;
            font-size: 0.9rem;
            }
     .churchill-text{
         font-size: 1em;
         padding: 0em 5em 0em 5em;
         text-align: left;
         padding-top: 1em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         left: 0.6em;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         right: 0.6em;
     }

     .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
}

@media (max-width:565px) {
    .main-buildings-info {
        max-width: 100%;
        min-height: 105vh;
        background: white;
        place-items: center;
     }
 
     .page-heading{
         font-size: 0.5rem;
         text-decoration: none;
     }
     
     .carousel-container {
         width: 100%;
         height: 350px;
         background-color: whitesmoke;
         padding: 2em 0em 2em 0em;
         align-items: center;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }

     .owl-carousel{
        position: relative;
        align-items: center;
    }

     .owl-carousel .owl-nav {
         margin-bottom: -2em; 
     }
 
     .owl-carousel .item {
         height: 350px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
        text-align: center;
        font-size: 0.5rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:fill;
         border-radius: 2em;
         align-items: center;
     }

     .cp {
        padding-bottom: 1em;
        }
        .cpresource {
            padding-bottom: 1em;
            font-size: 0.75rem;
            }
     .churchill-text{
         font-size: 0.9em;
         padding: 0em 2em 0em 2em;
         text-align: left;
         padding-top: 0em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         left: 0.6em;
         display: none;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 5rem;
         transform: translateY(-75%);
         color: black;
         right: 0.6em;
         display: none;
     }

     .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }
}

/*contact*/
.contact {
    min-height: 75vh;
    padding: 3em;
    text-align: center;
}

.contact-container {
    max-width: 80em;
    margin: 0 auto;
}

.contact-container h2 {
    font-size: 1.5rem;
    margin-bottom: 2em;
    color: black;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: black;
}

.form-group {
    margin-bottom: 1em;
}

input, textarea {
    width: 100%;
    padding: 1.5em;
    border-radius: 1em;
    border: none;
    background-color:whitesmoke;
    color: black;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

.sub-btn {
    display: inline-block;
    padding:1em 1.5em;
    background-color:rgba(157, 186, 148);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 1em;
}

.sub-btn:hover {
    background-color:rgba(84, 115, 142);
}

.contact-info {
    text-align: left;
    
}

.contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: black;
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 1em;
    color: black;
}

.contact-info i {
    color: black;
    margin-right: 0.5em;
}

@media (max-width:768px){
    .container {
        padding: 1em;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
    }
    
}
    

/*footer*/
.footer {
    background-color: rgba(84, 115, 142, 0.9);
    bottom: 0;
    height: 10em;
}

footer .socials {
    text-align: center;
    padding-top: 3em;
}
footer .socials a {
    font-size: 2rem;
    display: inline-block;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 0.5em;
    color: black;
}

footer .socials a:hover {
    background-color: rgba(157, 186, 148, 0.25);
}

footer ul {
    list-style: none;
    text-align: center;
    padding: 1em;
}

footer ul li {
    display: inline-block;
    padding: 0.3em;
    font-size: 1.5rem;
}

footer ul li a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

footer ul li a:hover {
    background-color: rgba(157, 186, 148, 0.25);
    color: black;
    padding: 0.5em;
    border-radius: 0.5em;
}
footer .copyright {
    text-align: center;
    padding: 1em;
    color: black;
}

@media (min-width: 1440px) {


}

@media (min-width: 1201px) {

    .footer {
        background-color: rgba(84, 115, 142, 0.9);
        bottom: 0;
        height: 13em;
    }
    
    footer .socials {
        text-align: center;
        padding-top: 2em;
        
    }
    footer .socials a {
        font-size: 1.5rem;
        display: inline-block;
        padding: 0.3em 0.5em 0.3em 0.5em;
        border-radius: 0.5em;
        color: black;
    
    }
    
    footer .socials a:hover {
        background-color: rgba(157, 186, 148, 0.25);
    }
    
    footer ul {
        list-style: none;
        text-align: center;
        padding: 0.5em;
    }
    
    footer ul li {
        display: inline-block;
        padding: 0.3em;
        font-size: 1.5rem;
    }
    
    footer ul li a {
        text-decoration: none;
        color: black;
        padding: 0.5em 0;
    }
    
    
    footer ul li a:hover {
        background-color: rgba(157, 186, 148, 0.25);
        color: black;
        padding: 0.5em;
        border-radius: 0.5em;
    }
    footer .copyright {
        text-align: center;
        padding: 0.2em;
        color: black;
        
    }
    

}

@media (max-width: 1200px) {
    .footer {
        background-color: rgba(84, 115, 142, 0.9);
        bottom: 0;
        height: 11em;
    }
    
    footer .socials {
        text-align: center;
        padding-top: 2em;
        
    }
    footer .socials a {
        font-size: 1.25rem;
        display: inline-block;
        padding: 0.3em 0.5em 0.3em 0.5em;
        border-radius: 0.5em;
        color: black;
    
    }
    
    footer .socials a:hover {
        background-color: rgba(157, 186, 14, 0.25);
    }
    
    footer ul {
        list-style: none;
        text-align: center;
        padding: 0.5em;
    }
    
    footer ul li {
        display: inline-block;
        padding: 0.3em;
        font-size: 1rem;
    }
    
    footer ul li a {
        text-decoration: none;
        color: black;
        padding: 0.5em 0;
    }
    
    
    footer ul li a:hover {
        background-color: rgba(157, 186, 148, 0.25);
        color: black;
        padding: 0.5em;
        border-radius: 0.5em;
    }
    footer .copyright {
        text-align: center;
        padding: 0.2em;
        color: black;
        font-size: 0.75rem;
        
    }
}

@media (max-width: 505px) {
    body {
        min-height: 100vh;
        padding: 0;
    }
    
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../images/fenner-house-6.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    .footer {
        background-color: rgba(84, 115, 142, 0.9);
     
        bottom: 0;
        height: 10em;
    }
    
    footer .socials {
        text-align: center;
        padding-top: 2em;
        
    }
    footer .socials a {
        font-size: 1rem;
        display: inline-block;
        padding: 0.3em 0.5em 0.3em 0.5em;
        border-radius: 0.5em;
        color: black;
    
    }
    
    footer .socials a:hover {
        background-color: rgba(157, 186, 148, 0.25);
    }
    
    footer ul {
        list-style: none;
        text-align: center;
        padding: 0.5em;
    }
    
    footer ul li {
        display: inline-block;
        padding: 0.3em;
        font-size: 0.9rem;
    }
    
    footer ul li a {
        text-decoration: none;
        color: black;
        padding: 0.5em 0;
    }
    
    footer ul li a:hover {
        background-color: rgba(157, 186, 148, 0.25);
        color: black;
        padding: 0.5em;
        border-radius: 0.5em;
    }
    footer .copyright {
        text-align: center;
        padding: 0.2em;
        color: black;
        font-size: 0.6rem;
        
    }
}
