* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* green - rgba(157, 186, 148) */
/* blue - rgba(84, 115, 142) */


p {}

h1 {
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}   

h3 {}


body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../images/fenner/fenner-house-6.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

  /*header*/
header {
    background-color: rgba(84, 115, 142, 0.75);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    height: 8em;
    width: 100%;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
    height: 8em;
}

.title {
    text-decoration: none;
    color: black;
    margin-left: 0em;
    padding-left: 2em;
}

.title:hover {
    background-color: rgb(157, 186, 148, 0.75);
    margin-left: 2em;
    padding: 1em;
    border-radius: 1em;
}

header nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

header nav li {
    margin-right: 1em;
}

header nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    padding: 2em 1em;
}

header nav a:hover {
    background-color: rgba(157, 186, 148, 0.25);
    border-radius: 2em;
    padding: 2em 1em; 
}

header .sidebar {
    position: fixed;
    top: 0;
    margin-left: 0;
    height: 100vh;
    width: 250px;
    z-index: 998;
    background-color: rgba(84, 115, 142, 1);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    
}

header .sidebar li {
    z-index: 999;
    width: 100%;
    text-align: center;
    padding: 2em;
    text-decoration: none;
    
}

header .sidebar a {
    width: 100%;
    text-decoration: none;
}
header .sidebar a:hover {
    width: 100%;
    padding: 2em;
    left: 0;
}
header .menu-button {
    display: none;
}
header .cancel-menu {
    align-items: right;
    margin-right: auto;

}

@media (min-width: 1440px) {

    header .menu-button {
        display: none;
    }
    h1 {
        font-size: 3rem;
        
    }
    h2 {
    font-size: 2.5rem;
}   

}

@media (min-width: 1024px) {
    
    header .menu-button {
        display: none;
    }
    h1 {
        font-size: 2rem;
        padding: 0;
    }
    h2 {
    font-size: 1.5rem;
}   

header nav li {
    margin-right: 1em;
}

header nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    padding: 2em 1em;
}

}

@media (max-width: 1023px) {
    .hideOnMobile {
        display: none;
        
    }

    header .menu-button {
        display: block;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
    font-size: 2rem;
    
    }

    .header{
        background-color: rgba(84, 115, 142, 0.75);
        box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
        height: 8em;
        width: 100%;
        margin: 0;
    }

    header .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;  
        height: 8em;
    }
    
    
    .title {
        text-decoration: none;
        color: black;
        margin-left: 0.5em;
        padding-left: 1em;
        
    }
    .title:hover {
        background-color: rgb(157, 186, 148, 0.75);
        
        
        border-radius: 1em;
    }
    
    header nav li {
        
        margin-right: 1em;
        
    }
    
    header nav a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        padding: 2em 2em;
    }
    
    header nav a:hover {
        background-color: rgba(157, 186, 148, 0.25);
        border-radius: 2em;
        padding: 2em 2em;
    }

    header .sidebar {
        width: 100%;
        
    }

    header .sidebar li {
        width: 100%;
        
        padding: 2em;
        
    }  

}   

@media (max-width: 425px) {
    .hideOnMobile {
        display: none;
    }

    header .sidebar {
        width: 100%;
    }

    header .sidebar li {
        width: 100%;
        
        padding: 2em 0 2em 0;
       
        }
        

    header .menu-button {
        display: block;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
    font-size: 2rem;
    } 

    .header{
        background-color: rgba(84, 115, 142, 0.75);
        box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
        height: 8em;
        width: 100%;
        margin: 0;

    }
    .title {
        text-decoration: none;
        color: black;
        margin-left: 0.5em;
        padding-left: 1em;
        
    }
    .title:hover {
        display: none;
        background-color: rgb(157, 186, 148, 0.75);
        margin-left: 2em;
        padding: 1em;
        border-radius: 1em;
    }

    header nav li {
        margin-right: 1em;
    }
    
    header nav a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        padding: 1em 1em;
    }
    
    header nav a:hover {
        background-color: rgba(157, 186, 148, 0.25);
        border-radius: 1em;
        padding: 1em 1em;
    }

}


/*homepage*/
.main-homepage .wrapper {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.main-homepage {
    min-height: 100vh;
    max-width: 100%;
}
  .learn-more {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1em 1.5em;
    background-color: rgba(157, 186, 148, 0.9);
    color: black;
    border: none;
    border-radius: 1.5em;
    
  }
  
  .learn-more:hover {
    background-color: rgba(84, 115, 142, 0.9);
    cursor: pointer;
  }

  @media (max-width: 1023px) {
    .learn-more {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1em 1.5em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1.5em;
        transition:
      }
      
      
      .learn-more:hover {
        background-color: rgba(84, 115, 142, 0.9);
        cursor: pointer;
      }
  }

  
/*about us*/
.about-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 4em;
    padding-bottom: 0;
}

.about-container {
    width: 100%;
    max-height: 85vh;
}

.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-image-container {
    max-width: 50%;
    height: 100%;
}

.about-image {
    max-width: 100%;
    height: 75vh;
    display: flex;
    padding-bottom: 4em;
}

.about-content {
    width: 50%;
    max-height: 75vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.about-text {
    padding-top: 0;
    color: black;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.25rem;
    text-align: center;
}

.ch4 {
    padding-top: 1em;
    align-items: center;
    max-width: 50%;
   
}

.ch4-caption {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2em;
}

.contact-us {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1em 1.5em;
    background-color: rgba(157, 186, 148, 0.9);
    color: black;
    border: none;
    border-radius: 1.5em;
  }
  
  .contact-us:hover {
    background-color: rgba(84, 115, 142, 0.9);
    cursor: pointer;
  }

 @media (max-width: 1439px) {
    .about-heading {
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 3em;
        padding-bottom: 0;
    }
    
    .about-container {
        width: 100%;
        max-height: 85vh;
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    
    .about-image-container {
        max-width: 50%;
        height: 100%;
    }
    
    .about-image {
        max-width: 100%;
        height: 60vh;
        display: flex;
        
    }
    
    .about-content {
        width: 50%;
        max-height: 60vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
    
    .about-text {
        padding-top: 0;
        color: black;
        padding-left: 2em;
        padding-right: 2em;
        font-size:1rem;
        text-align: center;
    }
    
    .ch4 {
        padding-top: 1em;
        align-items: center;
        max-width: 50%;
       
    }
    
    .ch4-caption {
        font-size: 0.75rem;
        text-align: center;
        padding-bottom: 2em;
    }
    
    .contact-us {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.25rem;
        padding: 1em 1.5em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1.5em;
        transition:
      }
      
      .contact-us:hover {
        background-color: rgba(84, 115, 142, 0.9);
        cursor: pointer;
      }
    
 }

 @media (max-width: 1023px) {

    .about-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 2em;
        padding-bottom: 0;
    }
    
    .about-container {
        width: 100%;
        max-height: 100vh;
        margin-bottom: 2em;
    }
    
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }
   
    .about-image-container {
        max-width: 100%;
        height: 40vh;   
    }
    
    .about-image {
        max-width: 100%;
        height: 100%;
        padding: 0;
     
    }

    .about-content {
        width: 100%;
        max-height: auto;
        text-align: center;
        padding: 2em;
        
    }
    
    .about-text {
        padding-bottom:1em;
        color: black;
        padding-left: 2em;
        padding-right: 2em;
        font-size: 1rem;
        text-align: center;
    }
    
    .ch4 {
        align-items: center;
        max-width: 50%;
       
    }
    
    .ch4-caption {
        font-size: 0.75rem;
        text-align: center;
        padding-bottom: 2em;
    }
    
    .contact-us {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1em 1.5em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1.5em;
        transition:
      }
      
      
      .contact-us:hover {
        background-color: rgba(84, 115, 142, 0.9);
        cursor: pointer;
      }
    
 }
            
 @media (max-width: 425px) {

    .about-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 2em;
        padding-bottom: 0;
    }
 
    .about-container {
        width: 100%;
        min-height: 100vh;
        margin-bottom: 2em;
    }
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
  
    .about-image-container {
        max-width: 110%;
        height: 30vh;
        overflow: hidden; 
    }
    
    .about-image {
        width: 110%;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .about-content {
        width: 100%;
       
        text-align: center;
        padding: 2em;
        
    }
    
    .about-text {
        padding-bottom:1em;
        color: black;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1rem;
        text-align: center;
    }
    
    .ch4 {
        align-items: center;
        max-width: 50%;
       
    }
    
    .ch4-caption {
        font-size: 0.75rem;
        text-align: center;
        padding-bottom: 2em;
    }
    
    .contact-us {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1em 1.5em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1.5em;
        
      }
      
      
      .contact-us:hover {
        background-color: rgba(84, 115, 142, 0.9);
        cursor: pointer;
      }
    
 }


/*buildings*/
 .buildings-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2em;
    padding-bottom: 0;
}

@media (min-width: 1441px) {

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;

}

.card {
    width: 600px;
    height: 70vh;
    position: relative;
    display:flex;
    padding: 4em;
    margin-bottom: 2em;
    flex-direction: column;
    align-items: center;  
    background-color: rgb(240, 240, 240);
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card .card-image {
    height: 500px;
    width: 500px;
    border-radius: 2em;
    background-position: center;
    background-size: cover;

}

.card .card-title {
    text-align: center;
    padding: 20px 10px;
    font-size: 1rem;
    color: black
}

.card .card-text {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1em;
}


.more-btn {
    margin-top: 2em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.75em 1em;
    background-color: rgba(157, 186, 148, 0.9);
    color: black;
    border: none;
    border-radius: 1em;
}
         
.more-btn:hover {
     background-color: rgba(84, 115, 142, 0.9);
     cursor: pointer;
}
}    

.card:nth-child(1) .card-image {
    background-image: url(../../images/fenner-house-6.JPG);
}

.card:nth-child(2) .card-image {
    background-image: url(../../images/churchill-house-21.jpg);
}

.card:nth-child(3) .card-image {
    background-image: url(../../images/manning-clark-3-anthiny-basheer.jpg);
}

 @media (max-width: 1920px) {

.buildings-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2em;
    padding-bottom: 0;

}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.card {
    width: 425px;
    height: 70vh;
    position: relative;
    display:flex;
    padding: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    align-items: center;  
    background-color: rgb(240, 240, 240);
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card .card-image {
    height: 300px;
    width: 350px;
    border-radius: 2em;
    background-position: center;
    background-size: cover;

}

.card .card-title {
    text-align: center;
    padding-top: 1em;
    font-size: 1rem;
    color: black
}

.card-text{
    width: 300px;
    height: 120px;
}
.card .card-text p {
    font-size: 1rem;
    text-align: center;
    
}

.more-btn {
    margin-top: 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.75em 1em;
    background-color: rgba(157, 186, 148, 0.9);
    color: black;
    border: none;
    border-radius: 1em;
}
         
.more-btn:hover {
     background-color: rgba(84, 115, 142, 0.9);
     cursor: pointer;
}
}    

@media (max-width: 1024px) {

    .buildings-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 2em;
        padding-bottom: 0;
    
    }
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    
    }
    
    .card {
        width: 300px;
        height: 70vh;
        position: relative;
        display:flex;
        padding: 1.5em;
        margin-bottom: 2em;
        flex-direction: column;
        align-items: center;  
        background-color: rgb(240, 240, 240);
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .card .card-image {
        height: 250px;
        width: 250px;
        border-radius: 2em;
        background-position: center;
        background-size: cover;
    
    }
    
    .card .card-title {
        text-align: center;
        padding: 0.2em;
        font-size: 1rem;
        color: black
    }
    
    .card-text{
        width: 250px;
        height: 150px;
    }
    .card .card-text p {
        font-size: 1rem;
        text-align: center;
        
    }
    
    .more-btn {
        margin-top: 1em;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.25rem;
        padding: 0.75em 1em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1em;
    }
             
    .more-btn:hover {
         background-color: rgba(84, 115, 142, 0.9);
         cursor: pointer;
    }
}  

@media (max-width: 1023px) {

    .buildings-heading{
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 1.5em;
        padding-bottom: 0;
    
    }
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        flex-wrap: wrap;
    }
    
    .card {
        width: 300px;
        height: 70vh;
        position: relative;
        display:flex;
        padding: 1.5em;
        margin-bottom: 2em;
        flex-direction: column;
        align-items: center;  
        background-color: rgb(240, 240, 240);
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .card .card-image {
        height: 250px;
        width: 250px;
        border-radius: 2em;
        background-position: center;
        background-size: cover;
    
    }
    
    .card .card-title {
        text-align: center;
        padding: 20px 10px;
        font-size: 1rem;
        color: black
    }
    
    .card .card-text {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1em;
    }
    
    .more-btn {
        margin-top: 1em;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.25rem;
        padding: 0.75em 1em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1em;
    }
             
    .more-btn:hover {
         background-color: rgba(84, 115, 142, 0.9);
         cursor: pointer;
    }
}  

@media (max-width: 425px) {

    .buildings-heading{
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 1.5em;
        padding-bottom: 0;
    }
    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 230vh;
    }
    
    .card {
        width: 300px;
        height: 70vh;
        position: relative;
        display:flex;
        padding: 1.5em;
        
        flex-direction: column;
        align-items: center;  
        background-color: rgb(240, 240, 240);
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .card .card-image {
        height: 250px;
        width: 250px;
        border-radius: 2em;
        background-position: center;
        background-size: cover;
    
    }
    
    .card .card-title {
        text-align: center;
        padding: 20px 10px;
        font-size: 1rem;
        color: black
    }
    
    .card .card-text {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1em;
    }
    
    .more-btn {
        margin-top: 1em;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.25rem;
        padding: 0.75em 1em;
        background-color: rgba(157, 186, 148, 0.9);
        color: black;
        border: none;
        border-radius: 1em;
    }
             
    .more-btn:hover {
         background-color: rgba(84, 115, 142, 0.9);
         cursor: pointer;
    }
}  


/*CHURCHILL buildings info */
.main-buildings-info {
       max-width: 100%;
       min-height: 100vh;
       background: white;
       place-items: center;
    }

    .buildings-heading{
        font-size: ;
    }
    
    .carousel-container {
        width: 100%;
        height: 575px;
        background-color: rgb(240, 240, 240);
        padding: 2em 0em 2em 0em;
        align-items: center;
    }
    
    .owl-carousel{
        position: relative;
    }
    
    .owl-carousel .owl-nav {
        margin-bottom: -8em; 
    }
    
    .owl-carousel .item {
        height: 600px;
        width: 100%;
        align-items: center;
    }

    .owl-carousel .item figcaption {
    text-align: center;
    font-size: 1.25rem;
    }

    .owl-carousel .item img{
        height: 80%;
        object-fit:fill;
        border-radius: 2em;
        align-items: center;
    }

    .cp {
        padding-bottom: 1em;
        }

    .churchill-text{
        font-size: 2rem;
        padding: 0em 20em 0em 20em;
        text-align: center;
        padding-top: 2em;
    }
    
    .owl-carousel .owl-nav button.owl-next {
        position: relative;
        font-size: 6rem;
        transform: translateY(-90%);
        color: black;
        align-items: center;
        justify-content: center;
        left: 0.5em;
    }
    
    .owl-carousel .owl-nav button.owl-prev {
        position: relative;
        font-size: 6rem;
        transform: translateY(-90%);
        color: black;
        align-items: center;
        justify-content: center;
        right: 0.5em;
    }
  
    .owl-carousel .owl-nav button.owl-next:hover {
        background: none;
        color: rgba(157, 186, 148);
    }
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: none;
        color:rgba(157, 186, 148)
    }

    .owl-dots {
        margin-top: -11.25em;
        align-items: center;
    }
       
@media (max-width:1920px) {
     .buildings-heading{
         font-size: ;
     }
     
     .carousel-container {
         width: 100%;
         height: 500px;
         background-color: rgb(240, 240, 240);
         padding: 2em 0em 2em 0em;
         align-items: center;
     }
     
     .owl-carousel{
         position: relative;
     }
     
     .owl-carousel .owl-nav {
         margin-bottom: -8em; 
     }

     .owl-dots {
        margin-top: -10em;
        align-items: center;
    }
     
     .owl-carousel .item {
         height:500px;
         width: 100%;
         align-items: center;
     }
 
     .owl-carousel .item figcaption {
     text-align: center;
     font-size: 1.15rem;
     }
 
     .owl-carousel .item img{
         height: 80%;
         object-fit:fill;
         border-radius: 2em;
         align-items: center;
     }
 
     .cp {
         padding-bottom: 1em;
         }
 
     .churchill-text{
         font-size: 1.5rem;
         padding: 0em 20em 0em 20em;
         text-align: center;
         padding-top: 2em;
         padding-bottom: 1em;
     }
     
     .owl-carousel .owl-nav button.owl-next {
         position: relative;
         font-size: 6rem;
         transform: translateY(-90%);
         color: black;
         align-items: center;
         justify-content: center;
         left: 0.5em;
     }
     
     .owl-carousel .owl-nav button.owl-prev {
         position: relative;
         font-size: 6rem;
         transform: translateY(-90%);
         color: black;
         align-items: center;
         justify-content: center;
         right: 0.5em;
     }
   
     .owl-carousel .owl-nav button.owl-next:hover {
         background: none;
         color: rgba(157, 186, 148);
     }
     .owl-carousel .owl-nav button.owl-prev:hover {
         background: none;
         color:rgba(157, 186, 148)
     }
    }

@media (min-width:1441px) {
    
}

@media (max-width:1440px) {
    
}

@media (max-width:1200px) {
    
}

@media (max-width:1024px) {
    
}

@media (max-width:768px) {
    
}

@media (max-width:425px) {
    
}


/*footer*/
.footer {
    background-color: rgba(84, 115, 142, 0.9);
    bottom: 0;
    height: 10em;
}

footer .socials {
    text-align: center;
    padding-top: 3em;
    
}
footer .socials a {
    font-size: 2rem;
    display: inline-block;
    border: 0.1em solid black;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 0.5em;
    color: black;
}

footer .socials a:hover {
    background-color: rgba(157, 186, 148);
}

footer ul {
    list-style: none;
    text-align: center;
    padding: 1em;
}

footer ul li {
    display: inline-block;
    padding: 0.3em;
    font-size: 1.5rem;
}

footer ul li a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
}


footer ul li a:hover {
    background-color: rgba(157, 186, 148);
    color: black;
    padding: 0.5em;
    border-radius: 0.5em;
}
footer .copyright {
    text-align: center;
    padding: 1em;
    color: black;
    
}

@media (min-width: 1440px) {


}

@media (min-width: 1024px) {

    .footer {
        background-color: rgba(84, 115, 142, 0.9);
        bottom: 0;
        height: 13em;
    }
    
    footer .socials {
        text-align: center;
        padding-top: 2em;
        
    }
    footer .socials a {
        font-size: 1.5rem;
        display: inline-block;
        border: 0.1em solid black;
        padding: 0.3em 0.5em 0.3em 0.5em;
        border-radius: 0.5em;
        color: black;
    
    }
    
    footer .socials a:hover {
        background-color: rgba(157, 186, 148);
    }
    
    footer ul {
        list-style: none;
        text-align: center;
        padding: 0.5em;
    }
    
    footer ul li {
        display: inline-block;
        padding: 0.3em;
        font-size: 1.5rem;
    }
    
    footer ul li a {
        text-decoration: none;
        color: black;
        padding: 0.5em 0;
    }
    
    
    footer ul li a:hover {
        background-color: rgba(157, 186, 148);
        color: black;
        padding: 0.5em;
        border-radius: 0.5em;
    }
    footer .copyright {
        text-align: center;
        padding: 0.2em;
        color: black;
        
    }
    

}

@media (max-width: 1023px) {
    .footer {
        background-color: rgba(84, 115, 142, 0.9);
        position: ;
        bottom: 0;
        height: 11em;
    }
    
    footer .socials {
        text-align: center;
        padding-top: 2em;
        
    }
    footer .socials a {
        font-size: 1.25rem;
        display: inline-block;
        border: 0.1em solid black;
        padding: 0.3em 0.5em 0.3em 0.5em;
        border-radius: 0.5em;
        color: black;
    
    }
    
    footer .socials a:hover {
        background-color: rgba(157, 186, 148);
    }
    
    footer ul {
        list-style: none;
        text-align: center;
        padding: 0.5em;
    }
    
    footer ul li {
        display: inline-block;
        padding: 0.3em;
        font-size: 1rem;
    }
    
    footer ul li a {
        text-decoration: none;
        color: black;
        padding: 0.5em 0;
    }
    
    
    footer ul li a:hover {
        background-color: rgba(157, 186, 148);
        color: black;
        padding: 0.5em;
        border-radius: 0.5em;
    }
    footer .copyright {
        text-align: center;
        padding: 0.2em;
        color: black;
        font-size: 0.75rem;
        
    }
    

}

@media (max-width: 505px) {
    body {
        min-height: 100vh;
        padding: 0;
    }
    
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../images/fenner-house-6.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    .footer {
        background-color: rgba(84, 115, 142, 0.9);
     
        bottom: 0;
        height: 10em;
    }
    
    footer .socials {
        text-align: center;
        padding-top: 2em;
        
    }
    footer .socials a {
        font-size: 1rem;
        display: inline-block;
        border: 0.1em solid black;
        padding: 0.3em 0.5em 0.3em 0.5em;
        border-radius: 0.5em;
        color: black;
    
    }
    
    footer .socials a:hover {
        background-color: rgba(157, 186, 148);
    }
    
    footer ul {
        list-style: none;
        text-align: center;
        padding: 0.5em;
    }
    
    footer ul li {
        display: inline-block;
        padding: 0.3em;
        font-size: 0.9rem;
    }
    
    footer ul li a {
        text-decoration: none;
        color: black;
        padding: 0.5em 0;
    }
    
    
    footer ul li a:hover {
        background-color: rgba(157, 186, 148);
        color: black;
        padding: 0.5em;
        border-radius: 0.5em;
    }
    footer .copyright {
        text-align: center;
        padding: 0.2em;
        color: black;
        font-size: 0.6rem;
        
    }

}
